.vs/*
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Library Project/v16/Browse.VC.db
.vs/Library Project/v16/Browse.VC.db-shm
.vs/Library Project/v16/Browse.VC.db-wal
.vs/Library Project/v16/Browse.VC.opendb
.vs/Library Project/v16/ipch/AutoPCH/91fff339ba754a4d/BOOK.ipch
.vs/Library-Project/v16/.suo
.vs/Library-Project/v16/Browse.VC.db
